* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Helvetica, Arial, sans-serif;
  }
  
  <!--Hero Style-->
  .hero.has-background {
    position: relative;
    overflow: hidden;
  }
  .hero-background {
    position: absolute;
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
  }
  .hero-background.is-transparent {
    opacity: 0.3;
  }

  <!--Map Style-->
  #map {
    height: 100%;
  }

  <!--Card Style-->
  .columns {
    margin-left: 10px;
    margin-right: 10px;
  }